/bin
/target/
/.idea/
/.settings/
/DeepPhe.iml
/.classpath
/.project
/deepphe-ctakes-cancer/deepphe-ctakes-cancer.iml
/deepphe-demo/deepphe-demo.iml
/deepphe-fhir/deepphe-fhir.iml
/deepphe-i2b2/deepphe-i2b2.iml
/deepphe-uima/deepphe-uima.iml
/deepphe-workbench/deepphe-workbench.iml
/deepphe-uima/testdb
/deepphe-viz/project/.sbtserver
/deepphe.iml
/MyDocSum.piper
*.iml
/git.Pull.manual.history.txt
/output_graph
/deepphe-neo4j/target/
/deepphe-viz-neo4j/target/
/linux-mac-build-and-run-scripts/logs/
/linux-mac-build-and-run-scripts/installer.conf
.DS_Store
##We do not want to provide DeepPhe-Viz as part of the release, so let's make sure nobody checks it in by accident
DeepPhe-Viz/

##We don't want examples as part of the release
dphe-examples/
